.home-intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../../assets/Home/IntroSection/home-intro-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px;
}

.home-intro-section>.home-intro-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-intro-section>.home-intro-txt>h1 {
    width: 700px;
    font-size: 70px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 40px;
}

.home-intro-section>.home-intro-txt>p {
    font-size: 20px;
    font-weight: 400;
    width: 700px;
    text-align: center;
    line-height: 2cap;
    letter-spacing: 0.04cap;
    margin-bottom: 50px;
}

.home-intro-section>.home-intro-txt>.home-intro-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 45px;
    width: 900px;
    height: 90px;
    background: #fff;
    position: relative;
}

.home-intro-section>.home-intro-txt>.home-intro-search>form {
    width: 100%;
}

.home-intro-section>.home-intro-txt>.home-intro-search>form>input {
    outline: none;
    border: none;
    font-size: 20px;
    background: none;
    width: 100%;
}

.home-intro-section>.home-intro-txt>.home-intro-search>.home-intro-search-icon {
    border: 1px solid #e86ed0;
    background: #e86ed0;
    padding: 29px 35px 29px 29px;
    position: absolute;
    right: -1px;
    border-radius: 0 50% 50% 50%;
}